# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [2]:
funds = pd.read_csv("https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv")

In [3]:
funds.Date = pd.to_datetime(funds.Date)

In [4]:
funds

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931
5,2013-01-09,14817,7995,6821,2888,9766,7311,2455,27471
6,2014-04-02,3155,938,2217,265,3379,3129,250,6799
7,2014-04-09,5761,2080,3681,1482,1609,1448,161,8852
8,2014-04-16,2286,634,1652,1186,633,604,29,4105
9,2014-04-23,3530,1392,2138,1239,1984,1453,531,6753
10,2014-04-30,-3890,-3996,106,759,888,559,329,-2242
11,2014-05-07,632,-2006,2639,-340,5493,4417,1076,5785
12,2014-05-14,-1079,-2321,1242,1188,4037,3141,897,4146
13,2014-05-21,697,-1790,2487,1216,2196,1398,798,4109
14,2014-05-28,-2453,-2603,150,1108,2041,1236,805,696
15,2014-06-04,2098,-1148,3246,1123,188,-470,658,3409
16,2014-06-11,1236,-1840,3075,1159,2112,1587,524,4506
17,2014-06-18,-922,-2204,1282,1060,4159,3740,419,4297
18,2014-06-25,-93,-1354,1262,1246,3256,2694,562,4409
19,2014-07-02,-7835,-8887,1052,636,2979,2704,276,-4220
20,2014-07-09,666,-1070,1736,1006,2721,3203,-482,4393
21,2014-07-30,118,-1171,1290,1024,1806,1119,687,2949
22,2014-08-06,-471,-3073,2602,-375,-8193,-8658,465,-9040
23,2014-08-13,320,-974,1294,496,1436,539,897,2252
24,2014-08-20,2671,738,1933,821,4999,4185,814,8490
25,2014-08-27,-577,-2199,1623,943,3655,2921,734,4021
26,2014-09-03,-4024,-5305,1281,544,2430,1768,661,-1050
27,2014-09-10,1257,-1291,2548,1055,1554,711,843,3866
28,2014-11-05,-32,-1634,1602,-176,5813,5284,529,5604
29,2014-11-12,1464,61,1403,963,3596,2703,893,6023
30,2014-11-19,-3010,-3622,611,99,2529,1758,771,-383
31,2014-11-25,-1175,-2044,869,-157,2590,1821,769,1258
32,2015-01-07,-3913,-5438,1525,-1057,-3403,-4729,1326,-8373
33,2015-01-14,1774,-37,1811,248,3549,2582,967,5572
34,2015-01-21,1267,856,411,790,1258,220,1038,3315
35,2015-01-28,4343,3455,888,1748,5964,4689,1275,12055
36,2015-02-04,4240,3536,703,793,3237,2274,963,8270
37,2015-02-11,1268,-27,1296,959,5862,5169,693,8089
38,2015-03-04,999,-1933,2932,528,4984,4309,675,6511
39,2015-03-11,3911,-7,3918,851,1298,999,298,6059
40,2015-03-18,1948,-1758,3706,912,452,258,194,3312
41,2015-03-25,-1167,-4478,3311,538,2404,1701,703,1775
42,2015-04-01,-1527,-3307,1780,720,-1296,-1392,96,-2103
43,2015-04-08,1906,-1321,3227,250,1719,1906,-187,3875

### Step 4.  What is the frequency of the dataset?

In [8]:
# funds.

In [9]:
funds.value_counts()

Date        Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  Taxable Bond  Municipal Bond  Total
2012-12-05  -7426         -6060            -1367         -74      5317        4210          1107           -2183     1
2012-12-12  -8783         -7520            -1263          123     1818        1598          219            -6842     1
2014-08-20   2671          738              1933          821     4999        4185          814             8490     1
2014-08-27  -577          -2199             1623          943     3655        2921          734             4021     1
2014-09-03  -4024         -5305             1281          544     2430        1768          661            -1050     1
2014-09-10   1257         -1291             2548          1055    1554        711           843             3866     1
2014-11-05  -32           -1634             1602         -176     5813        5284          529             5604     1
2014-11-12   1464          61               1403          963     3596        2703          893             6023     1
2014-11-19  -3010         -3622             611           99      2529        1758          771            -383      1
2014-11-25  -1175         -2044             869          -157     2590        1821          769             1258     1
2015-01-07  -3913         -5438             1525         -1057   -3403       -4729          1326           -8373     1
2015-01-14   1774         -37               1811          248     3549        2582          967             5572     1
2015-01-21   1267          856              411           790     1258        220           1038            3315     1
2015-01-28   4343          3455             888           1748    5964        4689          1275            12055    1
2015-02-04   4240          3536             703           793     3237        2274          963             8270     1
2015-02-11   1268         -27               1296          959     5862        5169          693             8089     1
2015-03-04   999          -1933             2932          528     4984        4309          675             6511     1
2015-03-11   3911         -7                3918          851     1298        999           298             6059     1
2015-03-18   1948         -1758             3706          912     452         258           194             3312     1
2015-03-25  -1167         -4478             3311          538     2404        1701          703             1775     1
2015-04-01  -1527         -3307             1780          720    -1296       -1392          96             -2103     1
2014-08-13   320          -974              1294          496     1436        539           897             2252     1
2014-08-06  -471          -3073             2602         -375    -8193       -8658          465            -9040     1
2014-07-30   118          -1171             1290          1024    1806        1119          687             2949     1
2014-04-30  -3890         -3996             106           759     888         559           329            -2242     1
2012-12-19  -5496         -5470            -26           -73      103         3472         -3369           -5466     1
2012-12-26  -4451         -4076            -375           550     2610        3333         -722            -1291     1
2013-01-02  -11156        -9622            -1533         -158     2383        2103          280            -8931     1
2013-01-09   14817         7995             6821          2888    9766        7311          2455            27471    1
2014-04-02   3155          938              2217          265     3379        3129          250             6799     1
2014-04-09   5761          2080             3681          1482    1609        1448          161             8852     1
2014-04-16   2286          634              1652          1186    633         604           29              4105     1
2014-04-23   3530          1392             2138          1239    1984        1453          531             6753     1
2014-05-07   632          -2006             2639         -340     5493        4417          1076            5785     1
2014-07-09   666          -1070             1736          1006    2721        3203         -482             4393     1
2014-05-14  -1079         -2321             1242          1188    4037        3141          897             4146     1
2014-05-21   697          -1790             2487          1216    2196        1398          798             4109     1
2014-05-28  -2453         -2603             150           1108    2041        1236          805             696      1
2014-06-04   2098         -1148             3246          1123    188        -470           658             3409     1
2014-06-11   1236         -1840             3075          1159    2112        1587          524             4506     1
2014-06-18  -922          -2204             1282          1060    4159        3740          419             4297     1
2014-06-25  -93           -1354             1262          1246    3256        2694          562             4409     1
2014-07-02  -7835         -8887             1052          636     2979        2704          276            -4220     1
2015-04-08   1906         -1321             3227          250     1719        1906         -187             3875     1
dtype: int64

### Step 5. Set the column Date as the index.

In [10]:
funds = funds.set_index('Date')

### Step 6. What is the type of the index?

In [11]:
funds.index.dtype

dtype('<M8[ns]')

### Step 7. Set the index to a DatetimeIndex type

In [12]:
funds.index = pd.to_datetime(funds.index)

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [13]:
funds = funds.asfreq('d')

In [22]:
monthly = funds.resample('M')
monthly.interpolate()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-30,-3890.0,-3996.0,106.0,759.0,888.0,559.0,329.0,-2242.0
2014-05-31,-3890.0,-3996.0,106.0,759.0,888.0,559.0,329.0,-2242.0
2014-06-30,-3890.0,-3996.0,106.0,759.0,888.0,559.0,329.0,-2242.0
2014-07-31,-3890.0,-3996.0,106.0,759.0,888.0,559.0,329.0,-2242.0
2014-08-31,-3890.0,-3996.0,106.0,759.0,888.0,559.0,329.0,-2242.0
2014-09-30,-3890.0,-3996.0,106.0,759.0,888.0,559.0,329.0,-2242.0
2014-10-31,-3890.0,-3996.0,106.0,759.0,888.0,559.0,329.0,-2242.0
2014-11-30,-3890.0,-3996.0,106.0,759.0,888.0,559.0,329.0,-2242.0
2014-12-31,-3890.0,-3996.0,106.0,759.0,888.0,559.0,329.0,-2242.0
2015-01-31,-3890.0,-3996.0,106.0,759.0,888.0,559.0,329.0,-2242.0
2015-02-28,-3890.0,-3996.0,106.0,759.0,888.0,559.0,329.0,-2242.0
2015-03-31,-3890.0,-3996.0,106.0,759.0,888.0,559.0,329.0,-2242.0
2015-04-30,-3890.0,-3996.0,106.0,759.0,888.0,559.0,329.0,-2242.0

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [17]:
    funds.dropna()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-05,-7426.0,-6060.0,-1367.0,-74.0,5317.0,4210.0,1107.0,-2183.0
2012-12-12,-8783.0,-7520.0,-1263.0,123.0,1818.0,1598.0,219.0,-6842.0
2012-12-19,-5496.0,-5470.0,-26.0,-73.0,103.0,3472.0,-3369.0,-5466.0
2012-12-26,-4451.0,-4076.0,-375.0,550.0,2610.0,3333.0,-722.0,-1291.0
2013-01-02,-11156.0,-9622.0,-1533.0,-158.0,2383.0,2103.0,280.0,-8931.0
2013-01-09,14817.0,7995.0,6821.0,2888.0,9766.0,7311.0,2455.0,27471.0
2014-04-02,3155.0,938.0,2217.0,265.0,3379.0,3129.0,250.0,6799.0
2014-04-09,5761.0,2080.0,3681.0,1482.0,1609.0,1448.0,161.0,8852.0
2014-04-16,2286.0,634.0,1652.0,1186.0,633.0,604.0,29.0,4105.0
2014-04-23,3530.0,1392.0,2138.0,1239.0,1984.0,1453.0,531.0,6753.0
2014-04-30,-3890.0,-3996.0,106.0,759.0,888.0,559.0,329.0,-2242.0
2014-05-07,632.0,-2006.0,2639.0,-340.0,5493.0,4417.0,1076.0,5785.0
2014-05-14,-1079.0,-2321.0,1242.0,1188.0,4037.0,3141.0,897.0,4146.0
2014-05-21,697.0,-1790.0,2487.0,1216.0,2196.0,1398.0,798.0,4109.0
2014-05-28,-2453.0,-2603.0,150.0,1108.0,2041.0,1236.0,805.0,696.0
2014-06-04,2098.0,-1148.0,3246.0,1123.0,188.0,-470.0,658.0,3409.0
2014-06-11,1236.0,-1840.0,3075.0,1159.0,2112.0,1587.0,524.0,4506.0
2014-06-18,-922.0,-2204.0,1282.0,1060.0,4159.0,3740.0,419.0,4297.0
2014-06-25,-93.0,-1354.0,1262.0,1246.0,3256.0,2694.0,562.0,4409.0
2014-07-02,-7835.0,-8887.0,1052.0,636.0,2979.0,2704.0,276.0,-4220.0
2014-07-09,666.0,-1070.0,1736.0,1006.0,2721.0,3203.0,-482.0,4393.0
2014-07-30,118.0,-1171.0,1290.0,1024.0,1806.0,1119.0,687.0,2949.0
2014-08-06,-471.0,-3073.0,2602.0,-375.0,-8193.0,-8658.0,465.0,-9040.0
2014-08-13,320.0,-974.0,1294.0,496.0,1436.0,539.0,897.0,2252.0
2014-08-20,2671.0,738.0,1933.0,821.0,4999.0,4185.0,814.0,8490.0
2014-08-27,-577.0,-2199.0,1623.0,943.0,3655.0,2921.0,734.0,4021.0
2014-09-03,-4024.0,-5305.0,1281.0,544.0,2430.0,1768.0,661.0,-1050.0
2014-09-10,1257.0,-1291.0,2548.0,1055.0,1554.0,711.0,843.0,3866.0
2014-11-05,-32.0,-1634.0,1602.0,-176.0,5813.0,5284.0,529.0,5604.0
2014-11-12,1464.0,61.0,1403.0,963.0,3596.0,2703.0,893.0,6023.0
2014-11-19,-3010.0,-3622.0,611.0,99.0,2529.0,1758.0,771.0,-383.0
2014-11-25,-1175.0,-2044.0,869.0,-157.0,2590.0,1821.0,769.0,1258.0
2015-01-07,-3913.0,-5438.0,1525.0,-1057.0,-3403.0,-4729.0,1326.0,-8373.0
2015-01-14,1774.0,-37.0,1811.0,248.0,3549.0,2582.0,967.0,5572.0
2015-01-21,1267.0,856.0,411.0,790.0,1258.0,220.0,1038.0,3315.0
2015-01-28,4343.0,3455.0,888.0,1748.0,5964.0,4689.0,1275.0,12055.0
2015-02-04,4240.0,3536.0,703.0,793.0,3237.0,2274.0,963.0,8270.0
2015-02-11,1268.0,-27.0,1296.0,959.0,5862.0,5169.0,693.0,8089.0
2015-03-04,999.0,-1933.0,2932.0,528.0,4984.0,4309.0,675.0,6511.0
2015-03-11,3911.0,-7.0,3918.0,851.0,1298.0,999.0,298.0,6059.0
2015-03-18,1948.0,-1758.0,3706.0,912.0,452.0,258.0,194.0,3312.0
2015-03-25,-1167.0,-4478.0,3311.0,538.0,2404.0,1701.0,703.0,1775.0
2015-04-01,-1527.0,-3307.0,1780.0,720.0,-1296.0,-1392.0,96.0,-2103.0
2015-04-08,1906.0,-1321.0,3227.0,250.0,1719.0,1906.0,-187.0,3875.0

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [34]:
funds.resample('y').sum()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156.0,-23126.0,-3031.0,526.0,9848.0,12613.0,-2765.0,-15782.0
2013-12-31,3661.0,-1627.0,5288.0,2730.0,12149.0,9414.0,2735.0,18540.0
2014-12-31,330.0,-44689.0,45021.0,19570.0,59890.0,44994.0,14896.0,79787.0
2015-12-31,15049.0,-10459.0,25508.0,7280.0,26028.0,17986.0,8041.0,48357.0

### BONUS: Create your own question and answer it.