# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [29]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [30]:
data=[['lvysaur',45,'Bulbasaur','yes','grass'],
         ['Charmeleon',39,'Charmander','no','fire'],
         ['Wartortle',44,'Squirtle','yes','water'],
         ['Metapod',45,'Caterpie','no','bug']]

### Step 3. Assign it to a variable called pokemon

In [31]:
pokemon = pd.DataFrame(data , columns=['evolution','hp','name','pokedex','type'])
pokemon

    evolution  hp        name pokedex   type
0     lvysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [36]:
pokemon = pokemon.iloc[:,[2,4,1,0,3]]
pokemon

   hp pokedex   type        name   evolution
0  45     yes  grass   Bulbasaur     lvysaur
1  39      no   fire  Charmander  Charmeleon
2  44     yes  water    Squirtle   Wartortle
3  45      no    bug    Caterpie     Metapod

### Step 5. Add another column called place, and insert what you have in mind.

In [37]:
pokemon['place'] = pd.Series({0:'Mumbai',1:'Surat',2:'Delhi',3:'Bombay'})
pokemon

   hp pokedex   type        name   evolution   place
0  45     yes  grass   Bulbasaur     lvysaur  Mumbai
1  39      no   fire  Charmander  Charmeleon   Surat
2  44     yes  water    Squirtle   Wartortle   Delhi
3  45      no    bug    Caterpie     Metapod  Bombay

### Step 6. Present the type of each column

In [38]:
pokemon.dtypes

hp            int64
pokedex      object
type         object
name         object
evolution    object
place        object
dtype: object

### BONUS: Create your own question and answer it.