# Scores

### Introduction:

This time you will create the data.

***Exercise based on [Chris Albon](http://chrisalbon.com/) work, the credits belong to him.***

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as npb
import matplotlib.pyplot as plt

In [13]:
np.random.randint(1,3,5)

[array([2, 2, 2, 1, 2])]

### Step 2. Create the DataFrame that should look like the one below.

In [19]:
data = {
    "first_name":['Prit','Meet','Nayna','Mukesh','Tapan','Moto','Nano'],
    "last_name":['Dhanani','Dhanani','Wick','Ali','Patel','Miller','Kohli'],
    "age" : np.random.randint(20,40,7),
    'female':[0,0,1,0,0,0,0],
    'preTestScore':np.random.randint(20,100,7),
    'postTestScore':np.random.randint(20,100,7)
}

In [21]:
df = pd.DataFrame(data)
df

  first_name last_name  age  female  preTestScore  postTestScore
0       Prit   Dhanani   36       0            96             81
1       Meet   Dhanani   38       0            69             48
2      Nayna      Wick   28       1            34             64
3     Mukesh       Ali   33       0            70             55
4      Tapan     Patel   34       0            70             73
5       Moto    Miller   33       0            21             22
6       Nano     Kohli   39       0            32             41

### Step 3. Create a Scatterplot of preTestScore and postTestScore, with the size of each point determined by age
#### Hint: Don't forget to place the labels

### Step 4. Create a Scatterplot of preTestScore and postTestScore.
### This time the size should be 4.5 times the postTestScore and the color determined by sex

### BONUS: Create your own question and answer it.